* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
}

/* INPUT STYLING */
.input_parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input_container {
  background-color: #f7f7f7d6;
  padding: 8em;
}

.input_heading {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.input_element {
  border: 1.2px solid #000 !important;
  margin-bottom: 10px;
}

/* CHAT STYLING */
.chat_parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chat_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.2px solid rgb(34, 34, 34);
  width: 50%;
  height: 90vh;
}

.chat_message_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 90%;
  overflow-y: auto;
}

.chat_messageParent {
  padding: 14px;
  margin: 10px 0;
  min-width: 6rem;
  max-width: 18rem;
  color: rgb(24, 24, 24);
}

.chat_message_user {
}

.chat_message_text {
}

.chat_inputParent {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-bottom: 23px;
}
